language: python
cache: pip
python:
    - 3.4
    - 3.5
    - 3.6
    - pypy3
    - nightly

before_install:
  # clean existing dependencies to avoid clashes
  - pip freeze | xargs pip uninstall -y
  - pip uninstall -y setuptools
  - pip install setuptools==33.1.1  # pin specific version in virtualenv
  - pip freeze --all  # debug
  - sudo add-apt-repository ppa:openjdk-r/ppa -y
  - sudo apt-get update
  - sudo apt-get install -y openjdk-12-jdk

install:
    - python bootstrap.py
    - bin/buildout install scripts linter

script:
    - bin/flake8
    - bin/coverage run bin/py -m unittest

after_success:
    - PATH=$PATH:bin/ bin/codecov  # codecov executes coverage which needs to be in $PATH
    - pip install coveralls
    - coveralls

notifications:
    email: false

sudo: false

matrix:
    allow_failures:
        - python: nightly
