name: docs

on:
  pull_request: ~
  push:
    branches:
      - master

  # Allow job to be triggered manually.
  workflow_dispatch:

  # Run job as nightly recurrent job.
  schedule:
    - cron: '0 2 * * *'

# Cancel in-progress jobs when pushing to the same branch.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  documentation:
    name: Run link checker
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Build docs
        run: |
          cd docs && make check
