---
name: test
on:
  pull_request: ~
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: Python ${{ matrix.python-version }}, CrateDB ${{ matrix.cratedb-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest']
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11']
        cratedb-version: ['4.8.4', '5.3.2']
        include:
          - os: 'macos-latest'
            python-version: '3.11'
            cratedb-version: '5.3.2'
          - os: 'windows-latest'
            python-version: '3.11'
            cratedb-version: '5.3.2'
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}
      CRATEDB_VERSION: ${{ matrix.cratedb-version }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
          cache: 'pip'
          cache-dependency-path: 'setup.py'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install ".[test,devel]"

      - name: Lint & test
        run: ./devtools/ci.sh 
